body {
  background: rgb(121,93,9);
  background: linear-gradient(90deg, rgba(121,93,9,1) 0%, rgba(213,198,152,1) 32%, rgba(255,255,255,1) 100%);
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  color: #fff;

}


nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-right: 120px;
  padding-top: 30px;
}

nav ul li {
  margin-left: 90px;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%; /* Make the links circular */
  background-color: transparent; /* Set the background color for the links */
  transition: background-color 0.3s ease;
  transition: font-size 0.3s ease-in-out;
  
}

nav ul li a:hover {
  background-color: #b99e54;
  font-size: 18px;
}

nav ul li a:active {
  font-size: 20px;
}

main {
  padding: 20px;
}

h1 {
  display: flex;
  justify-content: center;
}

form {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

form label {
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button  {
  background-color: #b99e54;
  border: none;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  padding: 8px 16px;
  position: relative;
  overflow: hidden;
  transition: left 0.3s ease;
}

form button:hover {
  background-image: linear-gradient(to right, rgb(0, 255, 55), rgb(255, 255, 255));
  transform: scale(1.02);
}

form button:hover::before {
  left: 0;
}



#itemList {
  list-style-type: none;
  padding: 0;
}

.itemCard {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px;
  transition: all 0.3s ease;
}

.itemCard.itemCard-delete {
  animation: deleteAnimation 0.3s forwards;
}

@keyframes deleteAnimation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.itemCard:hover {
  transform: scale(1.01);
}

.itemCard img {
  max-width: 50%;
  max-height: 50%;
}

#deleteAllButton {
  background-color: #cc0000;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
}


@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  form button {
    display: block;
    width: 100%;
  }
}

/* Styles for the about page */
.about-content {
  max-width: 800px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
}

.about-content h1 {
  margin-bottom: 20px;
}

.about-content p {
  line-height: 1.6;
}

